/* ----------
Layout Styles
-----------*/

.wrapper {
  width: 90%;
  margin: auto;
}

/* ------------
Main Content */

/* About */

.about {
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    align-items: center;
    div & {
        margin-top:38px;
    }
    img {
            max-width: 100%;
		    border-radius: 50%;
            margin: 6px auto 20px;
	}
    p {

    }
}

/* Website Showcase */

.work {
    .showcase {
        display: flex;

    }
    h2 {
        width: 52px;
        margin: inherit auto;
    }
    h3 {
        font-size: 17px;
        margin-bottom: 0;
    }
    .fourthree {
    }
    .image-showcase {
        display: flex;
        flex-wrap: wrap;
    }
	img {
		max-width: 100%;
        height: auto;
		border-radius: 5px;
        border: solid #eee 2px;
		&.fourthree {
            //width: 100%;
			//width: 69%;
			// float: left;
		}
    }
}

.showcase {
    margin: 10px 0;
}



//.image-showcase {
    //margin-left: 30px;
//}
/* Contact */

.contact {
    margin-bottom: 18px;
    a.email-address, a.twitter-handle {
        color: #333;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color: red;
        }
    }
    .fas, .fab {
        margin-right: 10px;
        font-size: 18px;
    }
    h2 {
        width: 77px;
        margin: 10px auto;
    }
}

//icons

.fa-chevron-down {
    font-size: 26px;
    color: #333;
}

.chevron {
        margin: 0 auto;
        text-align: center;
}

//footer
/* Style the Footer */

footer {
    padding: 20px;
    margin: 10px 0 0;
    background-color: #333;
    i {
        color: white
    }
    //social
    .social {
        text-align: center;
        .fab {
            font-size: 40px;
            color: #eee;
            text-decoration: none;
            padding: 5px;
            &:hover {
                color: red;
            }
        }
    }
}
