/* -------------
Media Queries */

@include mq('xs') {
    h1 {
        margin: 0;
    }
    img {
        &.wide {
            display: none;
        }
        &.mobile{
			//width: 30%;
            display: none;
			// float: right;
		}
    }
}

@include mq('sm') {
    .image-showcase {
        img {
            &.mobile {

            }
            &.wide {
                display: inline-block;
            }

        }
    }
    .about {
        img.profile {
            margin-right: 10px;
    		margin-bottom: 10px;
        }
    }
    * {
        border: 1px solid red;
    }
}

@include mq('med') {

}

@include mq('lg') {

}
