/* ----------
Media Queries
-----------*/

@include mq('xs') {
    * {
        //border: 1px solid cyan;
    }
    .about .img {
        width: 60%;

    }
    .showcase {
        flex-direction: column;
    }
    h1 {
        margin: 0;
    }
    img {
        &.wide {
            display: none;
        }
        &.mobile{
			//width: 30%;
            display: none;
			// float: right;
		}
    }
}

@include mq('sm') {
    * {
        //border: 1px solid green;
    }
    h2 {
        margin: 0;
    }
    .chevron {
        font-size: 26px;
        margin: 20px auto;
        color: black;
    }
    .work {
        margin: auto;
        justify-content: space-between;
        .site-description {
            margin-left: 30px;
        }
        div:nth-of-type(odd) {
        flex-direction: row-reverse;
        .site-description {
            margin-left: 0px;
        }
        }
    }

    .image-showcase {
        max-width: 50%;
        height: auto;
        img {
            &.mobile {
                display: none;
            }
            &.wide {
                display: none;

            }

        }
    }
    .about {
        img.profile {
            margin: 20px auto 20px;
        }
        .about-text {
            width: 75%;
            margin-left: 50px;
        }
    }
    .contact {
        div & {
            margin-bottom: 50px;
        }
        h2 {
            margin: 0;
        }
        .fas, .fab {
            font-size: 25px;
        }
        .email-address, .twitter-handle {
            font-size: 20px;
        }
    }
    .work {
        h3 {
            font-size: 24px;
            margin: 0;
        }
        .showcase {
            margin-top: 36px;
        }
        .site-description {
            margin-right: 10px;
        }
    }
}

@include mq('med') {
    * {
        //border: 1px solid blue;
    }
    p {
        font-size: 20px;
    }
    hr {
        display: none;
    }
    h2 {
        background-color: white;
        border: none;
        font-size: 30px;
    }
    .topnav a h1 {
        font-size: 40px;
        margin: 0 auto;
        padding: 10px 0 30px;
    }
    .about {
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        img {
            margin-right: 20px;
        }
        h2 {
            order: -1;
            margin: inherit auto;
            display: block;
            text-align: center;
        }
    }
    .image-showcase {

        img {
            &.mobile {
                //display: inline-block;
            }
            &.wide {
                //display: inline-block;
            }

        }
    }
}

@include mq('lg') {
    * {
        //border: 1px solid red;
    }
    .wrapper {
        width: 80%;
    }
}
